body {
  padding: 0;
  margin: 0;
  background: #c2c3c7;
  font-family: 'Lato', sans-serif;
}


h1,
h2,
h3, header {
  font-family: 'Grandstander', cursive;
}

header {
  padding: 1em;
  background-image: url('images/landscape.png');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  box-shadow: 0px 2px 1px 2px #1d2b53;
  margin-bottom: 0.2em;
  position: relative;
  z-index: 1;
}

header h1 {
  margin: auto;
  line-height:1.2em;
  border-radius: 8px;
  width: fit-content;
  padding: 0.1em;
  background: #ffa300;
  font-size: 4em;
}

header h1 a, header h1 a:visited {
  color: #1d2b53;
}

h2 {
  font-size: 1.4em;
}

h3 {
  text-decoration: underline;
}


section {
  border-radius: 20px;
  font-size: 2em;
  color: #fff1e8;
  background: #5f574f;
  padding: 1em;
}

section date {
  font-size: 0.8em;
  font-style: italic;
  vertical-align: baseline;
}

a {
  color: #29adff;
  text-decoration: none;
}

a:visited {
  color: #ff004d;
}

ul {
  list-style: none;
}

ul li {
  padding: 0.5em;
  border-radius: 8px;
}

ul li:nth-child(even) {
  margin: 0.5em 0;
  background: #fff1e8;
  color: #1d2b53;
}

footer {
  margin: 1em;
  font-size: 1.6em;
  text-align: center;
}


tags {
  font-size: 0.8em;
}

tags ul, tags ul li {
  padding: 0.2em;
  display: inline
}

article {
  padding: 1em;
  line-height: 1.6em;
}
